<div id="wrapper">
  <h1>PPM - Project Product Management</h1>
  <ul>
    <li><a [routerLink]="['home']">Home</a> </li>
    <li><a [routerLink]="['product']">Product List</a></li>
    <li><a [routerLink]="['create']">Product Creation</a></li>
  </ul>



<router-outlet></router-outlet>
</div>
