<div id="left">
    <h3>Edit Product</h3>
    <p *ngFor='let error of errors'>{{error}}</p>
    <form (submit) = 'editProduct(product._id)'>
      <tr>
        <td>Title :</td>
        <td>
          <input 
            type="text" 
            name="title" 
            required
            minlength="4"
            [(ngModel)]="product.title"
            #title="ngModel"
          >
        </td>
        <td *ngIf="!title.valid" [ngStyle] = "{'color':'red'}">* required 4 or more characters</td>
      </tr>
      <tr>
        <td>Price :</td>
        <td>
          <input 
            type="text" 
            name="price" 
            required
            pattern="^(([1-9]*)|(([1-9]*)\.([0-9]*)))$"
            [(ngModel)]="product.price"
            #price="ngModel"
          ></td>
        <td *ngIf="!price.valid" [ngStyle] = "{'color':'red'}">* required</td>
      </tr>
      <tr>
        <td>Image URL :</td>
        <td><input type="text" name="img" [(ngModel)]="product.img"></td>
      </tr>
      <input class="button" type="submit" value="Update">
    </form>
    <button [routerLink]="['/product']">Cancel</button>
        
</div>
