<div>
    <h3>* * * Welcome to project product management * * *</h3>
    <p>Here we can manage a set of products.</p>
    <p>You are able to create products, remove old </p>
    <p>products, and edit products.</p>
</div>
