img {
    width: 150px;
    height: 100px;
}
.wrapper {
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}
.item{
    text-align: center;
    background-color: deepskyblue;
}
#left{
    float: left;
    width: 45%; 
    text-align:left;
}
