<div>
  <div id="left">
    <h3 [ngStyle] = "{'color':'red'}">Product List</h3>
    
    <div class="wrapper">
        <div *ngFor="let product of products; let i = index">
          <div class="item">
            <img src={{product.img}}>
            <p>{{product.title}}</p>
            <p>${{product.price}}</p>
            <p>
              <button [routerLink]="['/edit',product._id]">Edit</button> 
              <button (click)="delete(product._id)">Delete</button> 
            </p>
          </div>
        </div>
      </div>
    <!-- <table>
        <tr *ngFor = 'let product of products'>
          <td><img src={{product.img}} alt=""></td>
          <td>{{product.title}}</td>
          <td>${{product.price}}</td>
          <td>
            <button [routerLink]="['/edit',product._id]">Edit</button> 
            <button (click)="delete(product._id)">Delete</button> 
          </td>
        </tr>
      </table> -->
  </div>

<router-outlet></router-outlet>
</div>
